<template>
    <paper-header-panel page settings-page class="flex" mode="waterfall" bind-display="view.isActive">
        <mwc-top-app-bar type="fixed">
            <paper-icon-button slot="navigationIcon" icon="menu" paper-drawer-toggle></paper-icon-button>
            <div slot="title" class="title">Settings</div>
        </mwc-top-app-bar>
        <div class="content padding">
            <p>
                <paper-toggle-button>Connect with Facebook</paper-toggle-button>
            </p>
            <p>
                <paper-toggle-button>Connect with Twitter</paper-toggle-button>
            </p>
        </div>
    </paper-header-panel>
</template>
