<template>
    <paper-header-panel page settings-page class="flex" mode="waterfall" bind-display="view.isActive">
        <paper-toolbar>
            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
            <div class="title">Settings</div>
        </paper-toolbar>
        <div class="content fit padding">
            <p>
                <paper-toggle-button>Connect with Facebook</paper-toggle-button>
            </p>
            <p>
                <paper-toggle-button>Connect with Twitter</paper-toggle-button>
            </p>
        </div>
    </paper-header-panel>
</template>
