<template>
    <paper-matertial page dialog-page step-edit-page elevation="2" bind-display="view.isVisible"
        bind-animation="{ view.isActive: view.animateSlideIn, view.isNotActive: view.animateSlideOut }" mode="waterfall">
        <paper-header-panel mode="waterfall">
            <paper-toolbar>
                <paper-icon-button icon="close" bind-events="{ click: view.onNavigateBack }"></paper-icon-button>
                <div class="title">{{view.title}}</div>
                <paper-button bind-events="{ click: view.onSaveStep }">Save</paper-button>
            </paper-toolbar>
            <div class="content fit padding">
                <paper-input label="Step Title"
                    bind-model="view.currentStep.title"
                    bind-model-event="input:value:target.value"></paper-input>
                <paper-input label="Due To" bind-model="view.visibleDueToValue"
                    bind-model-event="input:value:target.value"></paper-date-picker>
            </div>
        </paper-header-panel>
    </paper-matertial>
</template>
