<template>
    <mwc-drawer type="modal" bind-attr(open)="view.isDrawerOpen=MDCDrawer:closed">
        <paper-listbox bind-model="view.currentPage" bind-model-event="iron-select:selected:target.selected">
            <template bind-repeat="page in view.navigation">
                <paper-item>
                    <paper-item-body>
                        {{page.title}}
                    </paper-item-body>
                    <paper-ripple></paper-ripple>
                </paper-item>
            </template>
        </paper-listbox>
    </mwc-drawer>

    <div>
        <template id="goal-list-page" src="pages/goal-list.html" replace></template>
        <template id="settings-page" src="pages/settings.html" replace></template>
        <template id="goal-steps-page" src="pages/goal-steps.html" replace></template>
        <template id="goal-details-page" src="pages/goal-details.html" replace></template>
        <template id="step-edit-page" src="pages/step-edit.html" replace></template>
        <template id="reminder-modal" src="pages/reminder-modal.html" replace></template>
    </div>
</template>
