[goal-steps-page] {
    [step-input] {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    .pased-step-card {
        $bg: #eaecf7;
        background-color: $bg;
    }
}
